<% provide(:title, "") %>


<div class="top_cover">
  <h1>りすみゃ～広報</h1>
  <p>にじさんじ所属 <br class="xs_br">新人<span>(2019/11/07現在)</span>バーチャルライバー <br class="xs_br"><strong>天宮こころ</strong>の<br>"非公式"ファンサイトです。</p>
  <%= image_tag("top_image.jpg", class: "top_image" ) %>
</div>

<div class="container top_contents">
  <div class="row">

    <div class="col-xs-12 col-md-6">

      <% if false %>
        <!-- スケジュール跡地
        <% @schedule.each do |item| %>
          <% if item.status == 'live' %>
            <div class="schedule">
              <h1>Streaming Now</h1>
              <p>(<%= item.created_at.strftime("%R") %>更新)</p>
              <div class="top_schedule">
              <%= link_to "https://www.youtube.com/watch?v=#{item.video_id}", target: :_blank do %>
                <figure>
                  <%= image_tag item.thumbnail, class: 'schedule_thumbnail', alt: 'サムネイル' %>
                  <figcaption><%= item.title %></figcaption>
                </figure>
              <% end %>
              </div>
            </div>
          <% end %>
          <% end %>

          <div class="schedule">
          <h1>Schedule</h1>
          <% if @schedule.empty? %>
            <div class="time">
              <p>
                おかしい･･･これは何かがおかしいぞ･･･<br>
                スケジュールデータはYoutube APIでデータベースに保存している。<br>
                なのに、ここにデータが挙がらないとは･･･これは絶対おかしい･･･。<br>
                Youtube APIに何かがあったに違いない･･･。
              </p>
              <p>
                そう、もうお分かりだろう･･･何も！　データが無いのである！！
              </p>
              <p class="wait">
                しばし待て
              </p>
            </div>
          <% else %>
            <p>(<%= @schedule.first.created_at.strftime("%R") %>更新)</p>
            <% @schedule.each do |item| %>
              <% if item.status != "live" %>
                <div class="top_schedule">
                <%= link_to "https://www.youtube.com/watch?v=#{item.video_id}", target: :_blank do %>
                  <p class="time"><%= item.start_time.strftime("%Y年%-m月%-d日(%a) %R～") %></p>
                  <figure>
                    <%= image_tag item.thumbnail, class: 'schedule_thumbnail', alt: 'サムネイル' %>
                    <figcaption><%= item.title %></figcaption>
                  </figure>
                <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        -->
      <% end %>

      <div class="schedule">
        <h1>Most Viewed</h1>
        <% unless @mostView.empty? %>
          <p>(<%= @mostView.first.created_at.strftime("%Y/%-m/%-d") %>更新)</p>
          <% @mostView.each do |item| %>
            <div class="top_schedule">
              <%= link_to "https://www.youtube.com/watch?v=#{item.video_id}", :target=>["_blank"], :rel=>["noopener"] do %>
                <p class="time"><%= item.start_date.strftime("配信日：%Y年%-m月%-d日") %></p>
                <figure>
                  <%= image_tag item.thumbnail, class: 'schedule_thumbnail', alt: 'サムネイル' %>
                  <figcaption><%= item.title %></figcaption>
                </figure>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="col-xs-12 col-md-6">
      <%# Twitterタイムライン埋め込み %>
      <a class="twitter-timeline" data-lang="ja" data-width="600" data-height="900" data-link-color="#2B7BB9" href="https://twitter.com/amamiya_kokoro?ref_src=twsrc%5Etfw">Tweets by amamiya_kokoro</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </div><%# row %>
</div><%# container %>
<%= render partial: "layouts/coment_ohamya" %>
