<% provide(:title, "") %>


<div class="top_cover">
  <h1>りすみゃ～広報</h1>
  <p>にじさんじ所属 <br class="xs_br">新人<span>(2020/3/22現在)</span>バーチャルライバー <br class="xs_br"><strong>天宮こころ</strong>の<br>"非公式"ファンサイトです。</p>
</div>

<div class="container top_contents">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="special_div">
        <p>
          <%= link_to "/special2" do %>
            <span class="link_txt">YouTubeチャンネル登録10万人記念ページ</span><br/>
            <%= image_tag("mya10.jpg", class: "special_link" ) %><br/>
            <% end %>
          <span class="illusted">（illustrated by <%= link_to "しーな", "https://twitter.com/seena_J", :target=>["_blank"], :rel=>["noopener"] %>）</span>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="special_div">
        <p>
          <%= link_to "/special" do %>
            <span class="link_txt">YouTubeチャンネル登録5万人記念ページ</span><br/>
            <%= image_tag("mya5.jpg", class: "special_link" ) %><br/>
          <% end %>
          <span class="illusted">（illustrated by <%= link_to "坂", "https://twitter.com/Sksmaaaa2", :target=>["_blank"], :rel=>["noopener"] %>）</span>
        </p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-6">

      <div class="schedule">
        <h1>Most Viewed</h1>
        <% unless @mostView.empty? %>
          <p>(<%= @mostView.first.created_at.strftime("%Y/%-m/%-d") %>更新)</p>
          <% @mostView.each do |item| %>
            <div class="top_schedule">
              <%= link_to "https://www.youtube.com/watch?v=#{item.video_id}", :target=>["_blank"], :rel=>["noopener"] do %>
                <p class="time"><%= item.start_date.strftime("配信日：%Y年%-m月%-d日") %></p>
                <figure>
                  <%= image_tag item.thumbnail, class: 'schedule_thumbnail', alt: 'サムネイル' %>
                  <figcaption><%= item.title %></figcaption>
                </figure>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="col-xs-12 col-md-6">
      <%# Twitterタイムライン埋め込み %>
      <a class="twitter-timeline" data-lang="ja" data-width="600" data-height="900" data-link-color="#2B7BB9" href="https://twitter.com/amamiya_kokoro?ref_src=twsrc%5Etfw">Tweets by amamiya_kokoro</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </div><%# row %>
</div><%# container %>
<%= render partial: "layouts/coment_ohamya" %>
